/*
 * @Description: 预置好的 scss 函数、配置、代码块（BEM 规则等就会存放于此，提供给各个基础组件的使用）
 * @Author: Lyrelion
 * @Date: 2023-03-18 09:31:50
 * @LastEditTime: 2023-03-18 09:42:38
 * @FilePath: \ths-design-test1\packages\ths-themes\src\common\mixins\mixins.scss
 */

@import '../config';

/* --------------- BEM start --------------- */
@mixin b($block) {
  $B: $namespace + '-' + $block !global;

  .#{$B} {
    @content;
  }
}

@mixin e($element) {
  $E: $element !global;
  $selector: &;
  $currentSelector: '';
  @each $unit in $element {
    $currentSelector: #{$currentSelector + '.' + $B + $element-separator + $unit + ','};
  }

  @if hitAllSpecialNestRule($selector) {
    @at-root {
      #{$selector} {
        #{$currentSelector} {
          @content;
        }
      }
    }
  } @else {
    @at-root {
      #{$currentSelector} {
        @content;
      }
    }
  }
}

@mixin m($modifier) {
  $selector: &;
  $currentSelector: '';
  @each $unit in $modifier {
    $currentSelector: #{$currentSelector + & + $modifier-separator + $unit + ','};
  }

  @at-root {
    #{$currentSelector} {
      @content;
    }
  }
}
/* --------------- BEM end --------------- */

@mixin when($state) {
  @at-root {
    &.#{$state-prefix + $state} {
      @content;
    }
  }
}

@mixin size($prefix, $state) {
  @at-root {
    .#{$namespace + '-' + $prefix + '-size-' + $state} {
      @content;
    }
  }
}

@mixin hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  pointer-events: none;
  visibility: hidden; // prevent tab stops and screen reader discovery
}

.#{$namespace}-inline-block {
  display: inline-block;
}
