/*
 * @Description: scss 配置
 * @Author: Lyrelion
 * @Date: 2023-03-18 09:31:51
 * @LastEditTime: 2023-03-18 09:38:26
 * @FilePath: \ths-design-test1\packages\ths-themes\src\common\variable.scss
 */

$namespace: 'ths';
$element-separator: '__';
$modifier-separator: '--';
$state-prefix: 'ths-is--';
$and: '&';
